{% extends 'base.html.twig' %}
{% block body %}
<section class="moduler wrapper_404">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >Bravo</h1>
                            <h2 class="wow fadeInUp animated" data-wow-delay=".6s">Votre compte a bien été crée !</h2>
                            <p class="wow fadeInUp animated" data-wow-delay=".9s">Vous pouvez maintenant profiter de tous les services de KE-Groupe.</p>
                            <a href="{{ path('homepage') }}" class="btn btn-dafault btn-home wow fadeInUp animated" data-wow-delay="1.1s">Accueil</a>

                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}