{% extends 'base.html.twig' %}
{% block body %}
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1> <u>Découvrez {{ rest.Nom }}</u></h1>
                        <div class="portfolio-meta">


                            <span> <h3> Faites votre réservation.</h3></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="col-md-12">
            <div class="post-img">
                <img class="img-responsive" alt="" src="images/blog/shang2.jpg">
            </div>
            <div class="post-content">
                <h3>
                   {{ rest.Nom }}
                </h3>
                <br>
                <br>
                <blockquote>
                    {{ rest.Description }}
                </blockquote>
                <p>
                    <b>Réservez dès maintenant une table pour vous et vos proches, et dégustez un sublime repas.</b>

                </p><p>
                    <i>
                        Activite disponible à la réservation en ligne uniquement sur notre plateforme !
                    </i>
                </p>
            </div>

            <!--end media-->

            <div class="post-comment">

                <div>
                    <p>

                        <a href="{{ path('ReserverActvite') }}"> Je paye<</a>
                    </p>

                    <p>
                        <a href="#" class="btn btn-primary" disabled="true"> Commander un chauffeur ( <i>a venir</i> )</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
{% endblock %}