{% extends 'base.html.twig' %}
{% block body %}
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1> <u>Découvrez {{ rest.Nom }}</u></h1>
                        <div class="portfolio-meta">


                            <span> <h3> Faites votre réservation.</h3></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="col-md-12">
            <div class="post-img">
                <img class="img-responsive" alt="" src="{{ rest.Urlphoto }}">
            </div>
            <div class="post-content">
                <h3>
                    {{ rest.Nom }}
                </h3>
                <br>
                <br>
                <blockquote>
                    {{ rest.Description }}
                </blockquote>
                <p>
                    <b>Réservez dès maintenant une table pour vous et vos proches, et dégustez un sublime repas.</b>

                </p><p>
                    <i>
                        Restaurant disponible à la réservation en ligne uniquement sur notre plateforme !
                    </i>
                </p>
            </div>

            <!--end media-->

            <div class="post-comment">
                <h3>Je réserve:</h3>
                <form role="form" class="form-horizontal col-lg-12">
                    <div class="form-group col-lg-5">
                        <div class="col-lg-12">
                            <input type="datetime-local" class="col-lg-12 form-control" placeholder="Date">


                        </div>
                        <div class="col-lg-12">
                            <input type="number" class="col-lg-12 form-control" placeholder="Nombre de personne">
                        </div>






                        <div class="col-lg-12">
                            <input type="text" class="col-lg-12 form-control" placeholder="Numéro de carte bleu">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="col-lg-12 form-control" placeholder="Cryptogramme">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="col-lg-12 form-control" placeholder="Date de validité">
                        </div>




                    </div>


                </form>
                <div>
                    <p>

                        <button class="btn btn-send" type="submit"><span class="fa fa-credit-card-alt" aria-hidden="true"></span> Je paye</button>
                    </p>

                    <p>
                        <button class="btn btn-send" type="submit"><span class="fa fa-car" aria-hidden="true"></span> Commander un chauffeur</button>
                    </p>
                </div>
            </div>

        </div>

    </div>
{% endblock %}