{% extends 'base.html.twig' %}
{% block body %}
    str
    {% for item in listVille %}
        <h1>{{ item.nom }}</h1>
        <a href="{{ path("editVille",{"id":item.id}) }}">Editer</a>
        {% endfor %}
{% endblock %}